<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">hello angular</h3>
</div>

<div>
  <p>
    <input type="text" ng-model="world" />
    <button class="btn btn-primary" ng-click="addFramework(world)">Add</button>
  </p>
  <p>Hello {{world}}!</p>
</div>


<div ng-init="frameworks = ['Backbone.js', 'Ember.js', 'Knockout.js']">
  <h3>{{ frameworks.length }} frameworks</h3>
  <ul>
    <li ng-repeat="f in frameworks">
      <a href="/#/frameworks/{{f}}">{{f}}</a>
    </li>
  </ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
